<?php
use Automattic\WooCommerce\Blocks\Integrations\IntegrationInterface;

/**
 * Class for integrating with WooCommerce Blocks
 */
class {{slugPascalCase}}_Blocks_Integration implements IntegrationInterface {

	/**
	 * The name of the integration.
	 *
	 * @return string
	 */
	public function get_name() {
		return '{{slugSnakeCase}}';
	}

	/**
	 * When called invokes any initialization/setup for the integration.
	 */
	public function initialize() {
		$this->register_block_frontend_scripts();
		$this->register_block_editor_scripts();
		$this->register_block_editor_styles();
	}

	/**
	 * Returns an array of script handles to enqueue in the frontend context.
	 *
	 * @return string[]
	 */
	public function get_script_handles() {
		return array( '{{slug}}-block-frontend' );
	}

	/**
	 * Returns an array of script handles to enqueue in the editor context.
	 *
	 * @return string[]
	 */
	public function get_editor_script_handles() {
		return array( '{{slug}}-block-editor' );
	}

	/**
	 * An array of key, value pairs of data made available to the block on the client side.
	 *
	 * @return array
	 */
	public function get_script_data() {

		$data = array(
			'optInDefaultText' => __( 'I want to receive updates about products and promotions.', '{{slug}}' ),
		);

		return $data;
	}

	/**
	 * Register block editor styles.
	 *
	 * @return void
	 */
	public function register_block_editor_styles() {
		$style_url  = {{slugConstantCase}}_BLOCK_PLUGIN_URL . 'build/style-{{slug}}-block.css';
		$style_path = {{slugConstantCase}}_BLOCK_PLUGIN_DIR . 'build/style-{{slug}}-block.css';

		wp_enqueue_style(
			'{{slug}}-block',
			$style_url,
			[],
			$this->get_file_version( $style_path )
		);
	}

	/**
	 * Register block editor scripts.
	 *
	 * @return void
	 */
	public function register_block_editor_scripts() {
		$script_url        = {{slugConstantCase}}_BLOCK_PLUGIN_URL . 'build/{{slug}}-block.js';
		$script_asset_path = {{slugConstantCase}}_BLOCK_PLUGIN_DIR . 'build/{{slug}}-block.asset.php';
		$script_asset      = file_exists( $script_asset_path )
			? require $script_asset_path
			: array(
				'dependencies' => array(),
				'version'      => $this->get_file_version( $script_asset_path ),
			);

		wp_register_script(
			'{{slug}}-block-editor',
			$script_url,
			$script_asset['dependencies'],
			$script_asset['version'],
			true
		);

		wp_set_script_translations(
			'{{slug}}-block-editor',
			'{{slug}}',
			{{slugConstantCase}}_BLOCK_PLUGIN_DIR . 'languages'
		);
	}

	/**
	 * Register block frontend scripts.
	 *
	 * @return void
	 */
	public function register_block_frontend_scripts() {
		$script_url        = {{slugConstantCase}}_BLOCK_PLUGIN_URL . 'build/{{slug}}-block-frontend.js';
		$script_asset_path = {{slugConstantCase}}_BLOCK_PLUGIN_DIR . 'build/{{slug}}-block-frontend.asset.php';
		$script_asset      = file_exists( $script_asset_path )
			? require $script_asset_path
			: array(
				'dependencies' => array(),
				'version'      => $this->get_file_version( $script_asset_path ),
			);

		wp_register_script(
			'{{slug}}-block-frontend',
			$script_url,
			$script_asset['dependencies'],
			$script_asset['version'],
			true
		);

		wp_set_script_translations(
			'{{slug}}-block-frontend',
			'{{slug}}',
			{{slugConstantCase}}_BLOCK_PLUGIN_DIR . 'languages'
		);
	}

	/**
	 * Get the file modified time as a cache buster if we're in dev mode.
	 *
	 * @param string $file Local path to the file.
	 * @return string The cache buster value to use for the given file.
	 */
	protected function get_file_version( $file ) {
		if ( defined( 'SCRIPT_DEBUG' ) && SCRIPT_DEBUG && file_exists( $file ) ) {
			return filemtime( $file );
		}

		return {{slugConstantCase}}_BLOCK_PLUGIN_VERSION;
	}
}
